<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864208355889-463si70hu2tddrbg1el3gblim4ed0gp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864208355889-463si70hu2tddrbg1el3gblim4ed0gp4</string>
	<key>API_KEY</key>
	<string>AIzaSyC1EEg7UfuGRpJKNIruTB-o-qkE9-L1Ko4</string>
	<key>GCM_SENDER_ID</key>
	<string>864208355889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.AnimaVibeSocial</string>
	<key>PROJECT_ID</key>
	<string>animavibe-social-e32e7</string>
	<key>STORAGE_BUCKET</key>
	<string>animavibe-social-e32e7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864208355889:ios:5f3bbed96399b382a48b10</string>
</dict>
</plist>